<template>
    <lightning-card title="Incident Search">
        <lightning-input type="text" name="incNum" label=" Incident #"  onchange={handleIncNum}></lightning-input>
        <template if:true={appliesToValues.data}>
            <lightning-combobox
                name="appliesTo"
                label="Applies to"
                value={appliesToValue}
                placeholder="Select applies to"
                options={appliesToValues.data.values}
                onchange={handleChange} ></lightning-combobox>
            </template>
        <template if:true={statusValues.data}>
        <lightning-combobox
            name="status"
            label="Status"
            value={statusValue}
            placeholder="Select Status"
            options={statusValues.data.values}
            onchange={handleChange} ></lightning-combobox>
        </template>
       
            <lightning-button variant="brand" label="Search Incident" title="Search Incident"  onclick={handleClick} class="slds-m-left_x-small"></lightning-button>

        </lightning-card>

</template>