<template>
      <lightning-card>
        <div>
            {greeting}!
        </div>
        <lightning-layout>
        <lightning-input label="Name" value={greeting} onchange={handleChange}></lightning-input>
        </lightning-layout>
    </lightning-card>
</template>