<template>
    <lightning-card>
        <lightning-layout>
            <ul>
                <template for:each={contacts} for:item="contact">
                    <li key={contact.Id}>
                    {contact.Name},{contact.Title} 
                    </li>   
                </template>
            </ul>
        </lightning-layout>
    </lightning-card>
</template>