<template>
    <lightning-card title="Render Show" icon-name="custom:custom9">
        <div class="slds-m-around_medium">
        <lightning-input type="checkbox"  label="Show Detail" onclick={handleChange}>
        </lightning-input>
        <template if:true={areDetailVisible}>
            These are details
        </template>
        </div>

    </lightning-card>
</template>