<template>
  <lightning-card>
  <lightning-input type="text" name="FirstName" label="First Name" onchange={handleChange}>
</lightning-input>
  <lightning-input type="text" name="LastName" label="Last Name" onchange={handleChange}>
  </lightning-input>    

UpperCaseNam:{upperCaseFullName}
      
  </lightning-card>

</template>