<apex:page standardController="Account" >
<p>ur mr {!account.name}
    
    </p>
    <apex:form >
        <apex:pageblock >
    <apex:inputField value="{!account.Name}" />
            <apex:pageBlockButtons >
            	<apex:commandButton action="{!save}" value="Save"/>
                <apex:commandLink rendered="$profile."/>
            </apex:pageBlockButtons>
        </apex:pageblock>
        </apex:form>
</apex:page>