<apex:page sidebar="false" showHeader="false">
<link rel="stylesheet" type="text/css" href="core.css"
  media="screen" />
<link rel="stylesheet" type="text/css" href="print.css"
  media="print" />
  <link rel="stylesheet" type="text/css"
  media="screen and (max-device-width: 480px)"
  href="shetland.css" />
<style>
 .text1{
        font-size:18px;
        color:grey;  
    }
    
    
    
    
    
      #footer {
  /* min-height: 40px; */
  float: left;
  width: 100%;
  position: relative;
  }
    
    #footer {
  background: #454545;
  color: #d3d1c7;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  /* height: 150px; */
  padding-bottom:5px;
  text-align: center;
  z-index: 999;
  position: relative;
  height:180px;
}
    .footer-copyright
    {
        clear: both;
        font-family: "Avenir LT W01 65 Medium";
        color: #9e9b90;
        font-size: 10px;
        padding: 15px 0px 45px; 
        width:100%;
    }
    .content {
  max-width: 930px;
  margin: 0px auto;
}
    .footer-middle
    {
        max-width: 445px;
        /*overflow: auto;*/
        padding: 7px 0px;
        float: right;
        position: relative;
        left: -30%;
        width:100%;
    }
    .footer-social-links a
    {
        padding-right: 4px ;
        width:100%;
    }        


             

   
    .text1{
        font-size:18px;
        color:grey;  
    }
    
    .terms{
        font-size:12px;
    }
   
    .little-btn {
        width: 190px;
        padding: 12px 0;
        background-color:#3366FF;
        display: block;
        color: #D8D8D8;
        text-decoration: none; 
        font-family: verdana;
        font-size: 14px;
    }
    
    .link1{
        font-family: verdana;
        font-size: 14px;
        color: #D8D8D8;
    }
    
    .terms{
        font-size:12px;
    }
    
  
   .button{
        background:#457CE0;
        width: 190px;
        padding: 12px 0;
        font-family: verdana;
        font-size: 12px;
       
    }
    
    @media only screen and (max-width: 320px) {

body{
  margin-top:1px;
  }
  #header{
  max-width: 100%;
  background-image:url(images/header_image_small.jpg);
  height:160px;
  display:block;
  }
</style>


<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">

<div class="jumbotron">
 <apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/boy-ball.jpg')}"  width="100%" height="450px"/>
   <p id="text" align="center">
                    Save money with solar!<BR></BR>
                    Earn $100 for everyone you invite.<br/>
                </p>              
</div>

<div class="row">
  <div class="col-md-4">
    <h2>London</h2>
    <p>London is the capital city of England.</p>
    <p>It is the most populous city in the United Kingdom,
    with a metropolitan area of over 13 million inhabitants.</p>
  </div>
  <div class="col-md-4">
    <h2>Paris</h2>
    <p>Paris is the capital and most populous city of France.</p>
  </div>
  <div class="col-md-4">
       <div id="footer"> 
<div class="content">  
    <div class="footer-middle">  
     <h2>Follow Us:</h2><br/><br/>  
     <div class="footer-social-links">
                    <a href="https://twitter.com/VivintSolar" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/gfacebook.JPG')}" width="20" height="20"/></a>
                    <a href="https://www.facebook.com/VivintSolar" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/gtweet.JPG')}" width="20" height="20"/></a>  
                    <a href="https://www.linkedin.com/company/vivintsolar" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/googleplusg.JPG')}" width="20" height="20"/></a>
                    <a href="http://www.youtube.com/user/VivintSolar" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/gin.JPG')}" width="20" height="20"/></a>
                    <a href="https://plus.google.com/115861606122134074254/posts" rel="publisher" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/gyoutube.JPG')}" width="20" height="20"/></a>              
     </div><!-- /footer-social-links -->
     <div class="footer-copyright">
       Copyright &copy; 2014 Vivint Solar, Inc. All rights reserved.<br/>
        <br/> License Numbers: Federal Employer ID No.: 80‐0756438. State and Local License Nos.: AZ: ROC-288627; CA: C46/C10-973756;CO: EC-0100200; CT: HIC-0634382, ELC0189635-E1; D0; UT: S200/S202-8694003-5501EC-0100200; CT: HIC-0634382, ELC0189635-E1; D0;
        <br/><br/><a href="http://www.vivintsolar.com/en/terms-of-use" data-eventcategory="navigation" data-eventaction="click" data-eventlabel="footer-terms" style="color:#9e9b90">Terms and Conditions</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       &nbsp;&nbsp;&nbsp;
       <a href="http://www.vivintsolar.com/en/privacy-policy" data-eventcategory="navigation" data-eventaction="click" data-eventlabel="footer-privacy" style="color:#9e9b90" >Privacy Policy</a>
     </div><!-- /footer-right -->
   </div></div>  

            </div>  
  </div>
</div>

</div>

</body>
</html>
</apex:page>