<apex:page >
<style>
.mini-top-nav
{
  height: 30px;
  background: #454545;
  text-align: right;
  position: fixed;
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  z-index: 1000;
}
  @media(max-width: 715px) {
  .mini-top-nav {
      position: static;
    }
}
.mini-top-nav,
.mini-top-nav a
{
  color: #d3d1c7;
  font-family: "Avenir LT W01 85 Heavy";
  font-size: 10px;
  text-transform: uppercase;
  line-height: 30px;
}
.mini-top-nav-pad { padding: 0px 15px; }
@media (max-width: 460px)
{
  .hide-mobile { display: none; }
}

  
</style>

<style> 
    .bottom-banner-pad
    {
        padding: 10px 0px;
        overflow: hidden;
    }
    .connect
    {
        background: url("{!$Resource.iconconnect}") no-repeat center right;
        padding: 20px 30px 20px 0px;    
        color: #ff8200;
        font-family: "Avenir LT W01 85 Heavy";  
        letter-spacing: 1px;
        font-size: 13px;
        float: left;
        text-transform: uppercase;
        line-height: 18px;
    }
    .social-icons
    {
        float: left;
        width: 290px;
        border-left: 1px dotted #CCC;       
        border-right: 1px dotted #CCC;
        padding: 15px 0px;
        margin: 0px 40px;
        text-align: center;
        font-family: "Avenir LT W01 55 Roman";
        font-size: 13px;
        color: #595958;
        text-transform: uppercase;
    }
    .social-icons img
    {
        vertical-align: middle;
        padding: 0px 2px;
    }
    .lead-button
    {
        float: left;
        padding-top: 4px;
    }
    
    @media (max-width: 920px)
    {
        .bottom-banner { display: none; }           
    }
</style>

 <div class="bottom-banner">
  <div class="content">
    <div class="shadow-top"></div>
    <div class="bottom-banner-pad">
      <div class="connect">Connect with our customers   </div>
      <div class="social-icons">
        Join us on:
        <a href="https://www.facebook.com/VivintSolar" target="_blank"><apex:image value="{!$Resource.iconfacebook}"/></a>
        <a href="https://twitter.com/VivintSolar" target="_blank"><apex:image value="{!$Resource.icontwitter}"/></a>
      </div>
      <div class="lead-button"><a href="#globalModalForm" data-foid="" class="fancybox button">Get a free consultation</a></div>
    </div><!-- /bottom-banner-pad -->
    <div class="shadow-bottom "></div>
  </div><!-- /content -->
</div><!-- /bottom-banner -->


<div itemtype="http://schema.org/Organization">
    <a itemprop="url" href="http://www.vivintsolar.com/" id="home-link" data-eventcategory="globalnavigation" data-eventaction="click" data-eventlabel="header-home"><img id="logo" src="//images.cdn.aws.vivint.com/global/solar/main/header/vivint-solar-logo.png" title="Vivint Solar Logo" alt="Vivint Solar Corporate Logo"/></a>
    <nav id="nav" class="top-nav">
        <ul>
            <li>
                <a href="/how-it-works" class="long-nav-text-small" data-eventcategory="globalnavigation" data-eventaction="click" data-eventlabel="header-how-it-works">HOW IT WORKS</a>
        <ul>
          <li><a href="/how-it-works#traditional-power" data-eventcategory="globalnavigation" data-eventaction="click" data-eventlabel="header-traditional">Traditional Power</a></li>
          <li><a href="/how-it-works#solar-power" data-eventcategory="globalnavigation" data-eventaction="click" data-eventlabel="header-solar-power">Solar Energy</a></li>
          <li><a href="/how-it-works#the-process" data-eventcategory="globalnavigation" data-eventaction="click" data-eventlabel="header-process">The Process</a></li>
        </ul>
        </li>
        </ul>
        </nav>
        </div>
</apex:page>