<apex:page showHeader="false" sidebar="false">
<style>
html, body
{margin:0px;}
#content
{
color:#ff0000;

}

#text
{
      position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:33%;
    top:20%;}
    #text1
{
   left:33%;
    top:30%;}

#img
{
position:relative;

}
</style>

<div id="content">
 <div id="img">
 <apex:image value="{!URLFOR($Resource.vivintlogs,'vivintimage/ContactSalesHeader.jpg')}"  width="100%" height="20%"/>
  <p id="text" align="center">
        Save Money with Solar!<BR></BR>
        Earn $100 for everyone you invite.
    </p>
<div id="text1">
 <apex:image value="{!URLFOR($Resource.vivintlogs,'vivintimage/ContactSalesPerson.jpg')}"  width="30%" height="20%"/>
</div>
    
  </div>  
</div>
</apex:page>