<apex:page controller="Controller2" sidebar="true" showHeader="true" >
    <apex:form >
        <apex:inputtext value="{!inputText2}"  />  
        <apex:outputLabel > {!$CurrentPage.parameters.Inputvalue}</apex:outputLabel>
        <br />
    </apex:form>
</apex:page>