<apex:page sidebar="false" showHeader="false" >
<style>
 footer
    {       
        background: #454545;
        color: #d3d1c7;
        overflow: hidden;
    }
       .content
      {
        max-width: 930px;
        margin: 0px auto;
      }
             
    .footer-middle
    {
        float: right;
        max-width: 445px;
        overflow: hidden;
    }
        
    .footer-middle ul 
    { 
        list-style: none; 
        padding: 20px 0px;
        overflow: hidden;
        line-height: 16px;
    }
    .footer-middle ul li
    {
        float: left;
        width: 33%;
    }
    .footer-middle ul li a
    {
        font-family: "Avenir LT W01 85 Heavy";
        font-size: 11px;
        color: #d3d1c7;
        text-transform: uppercase;
        text-decoration: none;      
    }
             
    .footer-right
    {
        float: right;
        width: 230px;
    }
    .facebook-box
    {
        background: url(//images.cdn.aws.vivint.com/global/solar/footer/diag-dot-bg.png);
        overflow: hidden;
        padding: 25px;
    }
    .facebook-f
    {
        padding-bottom: 45px;
    }
    .facebook-text
    {
        font-family: "Avenir LT W01 45 Book";
        font-size: 21px;
        color: #d3d1c7;
        line-height: 21px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .facebook-total 
    {
        font-family: "Avenir LT W01 95 Black";
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 30px;
    }
        .facebook-blue { color: #799be2; }
    .footer-social-head
    {
        font-family: "Avenir LT W01 95 Black";
        font-size: 11px;
        text-transform: uppercase;
        color: #d3d1c7; 
        padding: 20px 0px 10px; 
    }
    .footer-social-links a
    {
        padding-right: 4px ;
    }
    
    .footer-copyright
    {
        clear: both;
        font-family: "Avenir LT W01 65 Medium";
        color: #9e9b90;
        font-size: 10px;
        padding: 15px 0px 45px; 
    }
    .footer-copyright a
    {
        padding-right: 30px;
        font-family: "Avenir LT W01 95 Black";
        color: #00eefd;
        font-size: 10px;        
    }
    
    @media (max-width: 950px)
    {
        .footer-logo { padding-left: 30px; }
        .footer-left {  margin-left: 30px; }
        .footer-copyright { padding-left: 30px; }
    }   
    @media (max-width: 920px)
    {
        .footer-right {display: none; }
    }
    @media (max-width: 690px)
    {
        .footer-left
        {
            margin: 0px 30px; 
            max-width: 100%;
            float: none; 
        }
        .footer-middle
        { 
            clear: both;
            max-width: 100%;
            margin: 30px 30px 0px; 
        }
        .footer-email-sub { display: none; }
        .footer-request-call {display: none; }
        .footer-middle ul li
        {
            float: left;
            width: 50%;
        }
        .footer-contact-item
        {
            width: 50%;         
            float: left;
        }       
        .footer-copyright 
        { 
            max-width: 250px;
            margin: 0px auto;
            line-height: 18px;
        }
    }
        
</style>
<footer>     
        <div class="content">
            
            
            <div class="footer-middle">
                <h2>Follow Link:</h2><br></br>
                 <div class="footer-social-links">
                   
                    <a href="https://twitter.com/VivintSolar" target="_blank"><apex:image value="{!$Resource.iconfacebook}"/></a>
                    <a href="https://www.facebook.com/VivintSolar" target="_blank"><apex:image value="{!$Resource.icontwitter}"/></a>                  
                    <a href="https://www.linkedin.com/company/vivintsolar" target="_blank"><apex:image value="{!$Resource.Youtube}"/></a>
                    <a href="http://www.youtube.com/user/VivintSolar" target="_blank"><apex:image value="{!$Resource.in}"/></a>
                    <a href="https://plus.google.com/115861606122134074254/posts" rel="publisher" target="_blank"><apex:image value="{!$Resource.icontwitter}"/></a>              
                </div><!-- /footer-social-links -->
                <div class="footer-copyright">
                
              Copyright &copy; 2014 Vivint Solar, Inc. All rights reserved. License Numbers: Federal Employer ID No.: 80‐0756438. State and Local License Nos.: AZ: ROC-288627; CA: C46/C10-973756; CO: EC-0100200; CT: HIC-0634382, ELC0189635-E1; DC: HIC-420213000052,ECC-903277; HI: C13-CT-33444; LA: EC-59753; MA: HIC-170848, EC-13141A; MD: HIC-130385; NJ: HIC-13VH06589300, EC-34EB01779500; NY: SFK Co. 51228-H, 49592-ME, WCH Co. 26664-H14, RKLD Co. H-11972-40-00-00; OR: CCB-196558, BCD-CLR28; PA: HIC-089970; UT: S200/S202-8694003-5501
           
            <br></br><a href="http://www.vivintsolar.com/en/terms-of-use" data-eventcategory="navigation" data-eventaction="click" data-eventlabel="footer-terms">Terms and Condition</a>         
                <a href="http://www.vivintsolar.com/en/privacy-policy" data-eventcategory="navigation" data-eventaction="click" data-eventlabel="footer-privacy">Privacy Policy</a>
            </div><!-- /footer-right -->
            </div>
            </div>
                           
                
            
           
                           
               </footer>

</apex:page>