<apex:page standardController="Sym_Employee__c" extensions="PdfControllertrail" sidebar="false" showHeader="flase" >
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
 <apex:iframe src="{!passURL}" id="frame" width="100%"   height="300px" frameborder="true" scrolling="false"/>

 </apex:page>