<apex:page standardController="Quota_Plan__c" extensions="QuotaPlanController" id="QuotaPlan" tabStyle="Quota_Plan__c" Title="Quota plan" >
  
   <script>
    $(document).ready(function() {
        $('.floatingHeaderTable').vfFloatingHeaders();
    });
    </script>   

  <apex:form >


 <apex:pageblock id="newTaskElectricalBlock" >
  <apex:PageBlockButtons >
 
                <apex:commandButton value="Save" action="{!Savedata}"></apex:commandButton>   
       <apex:commandButton value="Cancel/Return" action="{!cancel}"></apex:commandButton>
     </apex:PageBlockButtons> 
     
<apex:pageBlockSection title="Quota Plans" collapsible="false">

                            
                     <apex:commandButton value="Add Quota Plan" action="{!addQuota}" immediate="true"/>
                <apex:variable value="{!0}" var="rowNum"/>
             
                <apex:repeat value="{!newQuotaList}" var="Qta" id="therepeat"  >

                        <apex:panelGrid columns="5">
                    <apex:panelGrid >
                             <apex:facet name="header"> Sales_Compensation_del__c</apex:facet>
                           <apex:inputfield value="{!Quota_Plan__c.Sales_Compensation_del__c}"  required="true"   /> 
                      
                        </apex:panelGrid>
                          <apex:panelGrid >
                             <apex:facet name="header"> Name</apex:facet>
                                <apex:inputfield value="{!Qta.Name}" required="true"/>                 
                    
                        </apex:panelGrid>
                        
                             <apex:panelGrid >
                             <apex:facet name="header">  QuotaCategoryName__c</apex:facet>
                                <apex:inputfield value="{!Qta.QuotaCategoryName__c}" required="true"/>                 
                    
                        </apex:panelGrid>
                               
                        <apex:panelGrid >
                           <apex:facet name="header">Q1_target__c</apex:facet>
                               <apex:inputfield value="{!Qta.Q1_target__c}" required="true"/>                  
                           
                        </apex:panelGrid>
                        
                        <apex:panelGrid >
                            <apex:facet name="header"> Q2_Number__c</apex:facet>
                            <apex:inputfield value="{!Qta.Q2_Number__c}" required="true"/>
                        </apex:panelGrid>
                     
               </apex:panelGrid>
            <apex:variable var="rowNum" value="{!rowNum + 1}"/>
           </apex:repeat>
                                                                       
</apex:pageBlockSection>

   <apex:pageBlockSection title=" Additional Quota Plans" collapsible="false">
                     <apex:commandButton value="Add Quota Plan" action="{!addAdditionalQuota}" immediate="true"/>
                <apex:variable value="{!0}" var="rowNum1"/>
                  
                <apex:repeat value="{!newQuotaList1}" var="Qta1" id="therepeat">
                        <apex:panelGrid columns="5">
                        
                      
                          <apex:panelGrid >
                      <apex:facet name="header">Addional Quota Plan Name</apex:facet>
                                <apex:inputfield value="{!Qta1.Name}" required="true"/>                 
                    
                        </apex:panelGrid>
                        
                        
                            
                        <apex:panelGrid >
                          <apex:facet name="header">Q1_target__c</apex:facet>
                               <apex:inputfield value="{!Qta1.Q1_target__c}" required="true"/>                  
                           
                        </apex:panelGrid>
                         
                          <apex:panelGrid >
                      <apex:facet name="header">Addional Quota Plan Name</apex:facet>
                                <apex:inputfield value="{!Qta1.Additional_Quota_Category_Name__c}" required="true"/>                 
                    
                        </apex:panelGrid>
                        <apex:panelGrid >
                          
                         <apex:facet name="header"> Q2_Number__c</apex:facet>
                            <apex:inputfield value="{!Qta1.Q2_Number__c}" required="true"/>
                        </apex:panelGrid>
                     
               </apex:panelGrid>
            <apex:variable var="rowNum1" value="{!rowNum1 + 1}"/>
           </apex:repeat>
                                                                       
</apex:pageBlockSection>
   
 </apex:pageblock>
 
  </apex:form>

</apex:page>