<apex:page showHeader="false" sidebar="false">

  <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />   
    <meta name="description" content="Vivint Solar is a leader in solar energy systems for your home. We provide design, installation, financing, and monitoring. Call today for a free solar consultation."/>
    <meta name="keywords" content="solar panels, solar power, solar power systems, solar energy systems, solar power panels, renewable energy"/>
    <meta name="google-site-verification" content="wNf_ujpUcJ94Nshk6zSGkGzSgCfHEgUIy44Wa-LidrU" />
    <meta name="bitly-verification" content="a2dea2a042e9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<style>
 html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center, dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed, 
      figure, figcaption, footer, header, hgroup, 
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
      }


.page
      {
        max-width: 1600px;
        margin: 0px auto;
      }



    #text{
        z-index:100;
        position:absolute;    
        color:white;
        font-size:35px;
        font-weight:bold;
        left:26%;
        top:31%;        
    }

    #buton{    
        position:absolute;   
        left:40%;
        top:68%;        
    }

    #mainDiv { 
        margin 0 auto;
        width:100%;
    }
    
    #mainDiv div {
        position:relative;   
        width:100%;   
    }
    
    #first {
        top: 0%;
        width:100%;
    }
    
    #second{ 
        height: 200px;    
        top-padding:100px;
        font-family:verdana;
        font-size:15px;
        align:center;           
    }
    
    #third{ 
        height: 150px;
        top: 0px;
        font-family: Verdana;
        width:100%;
    }
    
      #footer {
  /* min-height: 40px; */
  float: left;
  width: 100%;
  position: relative;
  }
    
    #footer {
  background: #454545;
  color: #d3d1c7;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  /* height: 150px; */
  padding-bottom:5px;
  text-align: center;
  z-index: 999;
  position: relative;
  height:180px;
}
    .footer-copyright
    {
        clear: both;
        font-family: "Avenir LT W01 65 Medium";
        color: #9e9b90;
        font-size: 10px;
        padding: 15px 0px 45px; 
        width:100%;
    }
    .content {
  max-width: 930px;
  margin: 0px auto;
}
    .footer-middle
    {
        max-width: 445px;
        /*overflow: auto;*/
        padding: 7px 0px;
        float: right;
        position: relative;
        left: -30%;
        width:100%;
    }
    .footer-social-links a
    {
        padding-right: 4px ;
        width:100%;
    }        


             

   
    .text1{
        font-size:18px;
        color:grey;  
    }
    
    .terms{
        font-size:12px;
    }
   
    .little-btn {
        width: 190px;
        padding: 12px 0;
        background-color:#3366FF;
        display: block;
        color: #D8D8D8;
        text-decoration: none; 
        font-family: verdana;
        font-size: 14px;
    }
    
    .link1{
        font-family: verdana;
        font-size: 14px;
        color: #D8D8D8;
    }
    
    .terms{
        font-size:12px;
    }
    
  
   .button{
        background:#457CE0;
        width: 190px;
        padding: 12px 0;
        font-family: verdana;
        font-size: 12px;
       
    }
</style>
    <apex:form >
        <div class="page" >
        <div id="mainDiv" >
             <div id="first"> 
             

                <apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/boy-ball.jpg')}"  width="100%" height="450px"/>
           
                <p id="text" align="center">
                    Save money with solar!<BR></BR>
                    Earn $100 for everyone you invite.<br/>
                </p>              
                <p id="buton" align="center" border="0">
                   <button type="button" class="button" style="border:0">Login to invite friends</button>
                   <br/> <br/>
                   <a href="#" class="link1">or register for an account here</a>
                </p>          
            </div>
            <div id="second">
                <p  align="center"><br/><br/><br/>
                    Invite your friends to Vivint Solar via email, or share on Facebook, Google Plus or Twitter.<BR></BR>
                    When your friend gets a Vivint Solar installed you both get $100.
                </p> 
                <br></br>
                <p align="center" style="color: #3399FF" class="terms">Referral Terms and Conditions
                </p>
            </div>
        </div>
        
        <div>
            <br></br><br></br><br></br>
        </div>
       
  <div id="footer"> 
<div class="content">  
    <div class="footer-middle">  
     <h2>Follow Us:</h2><br/><br/>  
     <div class="footer-social-links">
                    <a href="https://twitter.com/VivintSolar" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/gfacebook.JPG')}" width="20" height="20"/></a>
                    <a href="https://www.facebook.com/VivintSolar" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/gtweet.JPG')}" width="20" height="20"/></a>  
                    <a href="https://www.linkedin.com/company/vivintsolar" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/googleplusg.JPG')}" width="20" height="20"/></a>
                    <a href="http://www.youtube.com/user/VivintSolar" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/gin.JPG')}" width="20" height="20"/></a>
                    <a href="https://plus.google.com/115861606122134074254/posts" rel="publisher" target="_blank"><apex:image value="{!URLFOR($Resource.vivintlogos,'vivintimage/gyoutube.JPG')}" width="20" height="20"/></a>              
     </div><!-- /footer-social-links -->
     <div class="footer-copyright">
       Copyright &copy; 2014 Vivint Solar, Inc. All rights reserved.<br/>
        <br/> License Numbers: Federal Employer ID No.: 80‐0756438. State and Local License Nos.: AZ: ROC-288627; CA: C46/C10-973756;CO: EC-0100200; CT: HIC-0634382, ELC0189635-E1; D0; UT: S200/S202-8694003-5501EC-0100200; CT: HIC-0634382, ELC0189635-E1; D0;
        <br/><br/><a href="http://www.vivintsolar.com/en/terms-of-use" data-eventcategory="navigation" data-eventaction="click" data-eventlabel="footer-terms" style="color:#9e9b90">Terms and Conditions</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       &nbsp;&nbsp;&nbsp;
       <a href="http://www.vivintsolar.com/en/privacy-policy" data-eventcategory="navigation" data-eventaction="click" data-eventlabel="footer-privacy" style="color:#9e9b90" >Privacy Policy</a>
     </div><!-- /footer-right -->
   </div>
            </div>        
     </div>    
     </div>
    </apex:form>

</apex:page>