<apex:page controller="wrapCustomObj">
<apex:form >
    <apex:pageBlock >
        <apex:pageBlockTable value="{!SelectEmpDetails}" var="e">
            <apex:column value="{!e.empDet.name}"/>
           
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:form>
</apex:page>