<apex:page controller="WrapperStringExample">

    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection >
            <apex:pageBlockTable value="{!WrapperS}" var="Wrap">
                <apex:column headerValue="Name">
                {!Wrap.PName}
                </apex:column>
             <apex:column headerValue="Name">
                {!Wrap.GName}
                </apex:column>
              
             <apex:column headerValue="Name">
                {!Wrap.SName}
                </apex:column>
               
            
            
            </apex:pageBlockTable>
            
            </apex:pageBlockSection>
        
        </apex:pageBlock>
    
    </apex:form>

</apex:page>